[Unit]
Description=EVE Trader (docker compose)
Requires=docker.service
After=docker.service

[Service]
Type=simple
WorkingDirectory=/home/seb/nebakineza/eve-trader
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
Restart=always
RestartSec=5
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
